@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,800;1,300;1,400;1,500;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shantell+Sans:wght@500,300;&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
    font-family: 'Open Sans', sans-serif;
}

body {
   background-color: #171717;
   margin-left: 50px;
   margin-right: 50px;
}

/*#particles-js {
    position: absolute;
    max-width: 100%;
    max-height:100%;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    z-index: 0;
    }*/

.content {
    max-width: 960px;
    margin: auto;
    background-color:  #171717;
    padding: 10px;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.header {
    margin-top: 25px;
    margin-left: 300px;
    margin-right: 300px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    box-sizing: border-box;
    font-family: 'Shantell Sans', sans-serif;
    font-size: 25px;
    color: rgb(0, 144, 158);
    border: 2px solid rgb(220, 220, 221);
    padding: 10px;
    cursor: pointer;
}

#menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: rgb(220, 220, 221);
}

#menu li {
    font-size: 20px;
    margin: 0 10px;
    padding: 15px;
    cursor: pointer;
}

#menu li a {
    color: rgb(220, 220, 221);
}

.section-container {
    width: 300px;
    height: 100px;
    
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
}

.section-para {
    margin: 0;
}

.name-container {
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 1px;
}

.first-name, 
.last-name {
    padding: 5px;
    font-size: 60px;
    font-weight: 800;
}

.first-name {
   color: rgb(0, 144, 158);
}

.last-name {
    color:  rgb(220, 220, 221);
}

.subjects-container {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    font-weight: 300;
    color: rgb(220, 220, 221);
}    

.footer-content {
    display: flex;
    justify-content: center;
    text-align: center;
}

.socials {
    font-size: 25px;
    color: rgb(220, 220, 221);

    position: absolute;
    bottom: 0px;
    margin-bottom: 25px;

}

i {
    padding: 5px;
    cursor: pointer;
}
